body {
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(#fabee1, #f9d5ea, #ffffff);
}
.title {
	color: #5C6AC4;
}
#oliverImageOne {
  border-width: 10px;
  border: 5px solid #db81b6;
  margin-left: 1%;
  margin-right: 5%;
  width: 45%;
  height: 45%;
  min-width: 128;
  min-height: 96;
}
hr {
  border-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  margin-bottom: 25px;
}
#oliverTextDiv {
  float: right;
  width: 42%;
  display: inline;
  background-color: #fae3f1;
  border: 5px solid #db81b6;
  position: absolute;
}
#oliverText {
  text-align: left;
  margin: 5px;
}
#oliverPartOne {
  margin-bottom: 10px;
}
#oliverQuestionsFieldset {
  border: 5px solid #db81b6;
  background-color: #fae3f1;
  display: block;
}
#oliverQuestions {
  width: 50%;
  min-width: 170px;
  max-width: 500px;
}
#submitOliverQuestions {
  background-color: #fae3f1;
  border: 3px solid #db81b6;
  display: block;
  margin-top: 3px;
  margin-left: 2px;
}
#yes {
  accent-color: #db81b6;
}
#alsoYes {
  accent-color: #db81b6;
}
#submitOliverQuestions:active {
  background-color: #fab9df;
}
